# CLion
.idea

# CMake
/cmake-build-debug
/cmake-build-debug-mingw/
/cmake-build-release
/build

# Mac OS
.DS_Store

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
/dir
/bil

# Executables
*.exe
*.out
*.app

# Bazel
/bazel-TimedAction/
/bazel-testlogs/
/bazel-out/
/bazel-bin/
/cmake-build-release-event-trace/
